/*SecciÃ³n DiseÃ±o*/
#estructura2 {
    display: grid;
    grid-template-areas:
        "menu menu menu"
        "cont cont cont"
        "pie pie pie";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 79px 1600px 76px;
    height: 100vh;
    gap: 12px;
}

#estructura2 .header {
    width: 100%;
    height: 91px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1; 
    grid-area: menu;
    display: flex;
    justify-content: end;      
}

#estructura2 .header .header__menu {
    margin-top: 30px;
    margin-right: 40px;
}

#estructura2 .header .header__menu ul li {
    display: inline;
    padding: 10px;
}

#estructura2 .header .header__menu ul li a { 
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'cairo', sans-serif;    
}

#estructura2 .header .header__menu ul li a:hover {
    font-weight: bold;
}

#estructura2 .footer {
    background-color:#ffffff;
    width: 100%;
    height: 70px;
    top:1200px;
    grid-area: pie;
    display: flex;
    justify-content: center;    
}  

#estructura2 .footer .footer__datos li {
font-size: 18px;
font-family: 'cairo', sans-serif;
position: relative;
display: inline;
top: 21px;
left: 2px;
padding: 10px;
}

#estructura2 .footer .footer__datos li a {
    text-decoration: none;
    color: black;      
}


#estructura2 .encabezado h2 {
    position: absolute;
    width: 1243px;
    height: 406px;
    left: 115px;
    top: 200px;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 170px;
    line-height: 115px;
}

#estructura2 .encabezado img {
    position: absolute;
    margin-top:180px;
    margin-left: 9px;
}

#estructura2 .diseño {
    height: 100vh;
    height: 900px;   
    gap: 15px;
    grid-area: cont; 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    align-self: center;
    margin-left: 33px;
    margin-top: 400px;
}

#estructura2 .diseño .diseño__item {
    width: 400px;

}

#estructura2 .diseño .diseño__item img {
    width: 100%;
}

#estructura2 .diseño .diseño__item h3 {
    font-family: 'cairo', sans-serif;
    padding: 5px;
    margin: 5px;
}

/*secciÃ³n fotografÃ­a*/

#estructura2 .fotografia__encabezado h2 {
    position: absolute;
    width: 1243px;
    height: 406px;
    left: 115px;
    top: 200px;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 170px;
    line-height: 115px;
}

#estructura2 .fotografia__encabezado img {
    position: absolute;
    margin-top:180px;
    margin-left: 9px;
}



#estructura2 .fotografia {
    height: 100vh;
    height: 900px;   
    gap: 15px;
    grid-area: cont; 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    align-self: center;
    margin-top: 370px;
}

#estructura2 .fotografia .fotografia__item {
    width: 400px;
}

#estructura2 .fotografia .fotografia__item img {
    width: 100%;
}

#estructura2 .fotografia .fotografia__item h3 {
    font-family: 'cairo', sans-serif;
    padding: 5px;
    margin: 5px;
}