/*grilla 1*/

#estructura1 {
    background-image: url(../images/imagenHome.png);
    width: 100%;
    height: auto;
    display: grid;
    gap: 12px;
    grid-template: {
        areas:
        "menu menu menu"
        "cont cont cont"
        "pie pie pie";
        columns: 1fr 1fr 1fr;
        rows: -75px 888px 76px;
    }
    
}

/*grilla 2*/

#estructura2 {
    width: 100%;
    display: grid;
    grid-template-areas:         
    "menu menu menu"
    "cont cont cont"
    "pie pie pie"; 
    grid-template: {
        columns: 1fr 1fr 1fr;
        rows: 79px 1600px 76px;
    }
    height: 100vh;
    gap: 12px;
    .header {
        width: 100%;
        height: 262px;
        background-color: #ffffff;
        position: fixed;
        z-index: 1; 
        grid-area: menu;
        display: flex;
        justify-content: end;
        &__menu {
            margin: {
                top: 30px;
                right: 40px;
            }
            ul li {
                display: inline;
                padding: 10px;
                a {
                    color: black;
                    text-decoration: none;
                    font: {
                        size: 20px;
                        weight: lighter;
                        family: 'cairo', sans-serif;                         
                    }
                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }      
    }
    .footer {
        background-color:#ffffff;
        width: 100%;
        height: 70px;
        top:1200px;
        grid-area: pie;
        display: flex;
        justify-content: center;
        &__datos {
            li {
                font: {
                    size: 18px;
                    family: 'cairo', sans-serif;
                }
                position: relative;
                display: inline;
                top: 21px;
                left: 2px;
                padding: 10px;
                a {
                    text-decoration: none;
                    color: black;  
                
                }
            }    
        }  
    }
}