
/*Variables*/

$ColorTextoPrincipal: #ffff;
$ColorTextoSecundario: black;

$TipografiaPrincipal: Helvetica;
$TipografiaSecundaria: 'cairo',sans-serif;


$Destktop: (min-width:1024px);
$Mobile: (max-width:767px);

$WidthFlexItem: 400px;
$WidthFlexItemImg: 100%;

/*Mixins*/

@mixin encabezados {
    position: absolute;
    width: 1243px;
    height: 406px;
    left: 115px;
    top: 260px;
    font: {
        family: $TipografiaPrincipal;
        weight: 700;
        size: 128px;
    }
}

@mixin encabezado-img {
    position: absolute;
    margin: {
        top: 180px;
        /*left: 9px;*/ 
    }  
}

@mixin elementos-flex {
    height: 100vh;
    gap: 15px;
    grid-area: cont;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    align-self: center;
    margin: {
        /*left: 33px;*/
        top: 400px;
    }

}

@mixin item-description {
    font-family: $TipografiaSecundaria;
    padding: 5px;
    margin: 5px; 
}
 
/* Pagina Principal */

.titular {
    width: 100%;
    height: 900px;
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align: {
        content: center;
        items: center;
    }
    grid-area: cont; 
    transition: color .5s;
    overflow: hidden;
    margin-bottom: -30px;
    color: $ColorTextoPrincipal;
    & .animate__animated.animate__zoomIn {
        font: {
            family: $TipografiaPrincipal;
            size: 13rem;
            weight: bold;
        }
        word-spacing: 1rem;
        /*margin-left: 230px;*/
    } 
    & .animate__animated.animate__slideInRight {
        width: 150px;
        height: 150px;
        margin: {
            bottom: -200px;
        /*    right: 467px;*/ 
        } 
    }
    & &__loop {
        margin-bottom: 555px;
        font-family: $TipografiaPrincipal;
        font-size: 30px;
        font-weight: lighter;
        letter-spacing: 20px;
        display: inline;
        overflow: hidden;
        white-space: nowrap;
        line-height: 70vh;
        position: absolute;
        animation: slidein infinite 60s linear {
        }
        @keyframes slidein {
            0% {transform: translateX(0);}
            100% {transform: translateX(-100%);}
        }
    }

}

/*contenido SobreMi*/

.section {
    grid-area: cont; 
    gap: 15px;
    & &__encabezado {
        @include encabezados;
    }
    & &__bio {
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items:flex-start;
        flex-wrap: wrap;
        gap: 26px;
        margin: {
        top: 625px;
        
        }
        .animate__animated.animate__slideInRight {
            width: 50%;
            p { 
                margin-left: 20px;
                padding-top: 25px; 
                font: {
                    family: $TipografiaPrincipal;
                    weight: lighter;
                    size: 20px;
                } 
    
            }
            a {
                text-decoration: none;
                color:$ColorTextoSecundario; 
                font-weight: bolder;
            }  
                
            
        }
        .animate__animated.animate__slideInLeft {
            height: 50%;
            padding-left: 127px;
        }
        .formacion {
            display: inline-block;
            width: 600px;
            height: 400px;
            padding-left: 102px;
            
            margin: {
                
          
                top: -7px;
                }
            font-family: $ColorTextoPrincipal;
            .linea1 {
                width: 447px;
                border-top: 1px solid black;
                padding-right: 12px;
                margin: 20px auto 0 ;
            }
            h3 {
                width: 600px;
                padding-top: 16px;
                padding-right: 126px;
                font: {
                    family: $TipografiaSecundaria;
                    weight: bold;
                    size: 50px;
                }
                line-height: 60px;
                text-align: right;
      
            }
        }
    }
}

/*sección contacto*/

.contacto {
    width: 100%;
    height: 901px;
    margin: {
        top: 143px;
        left: 381px;
    }
    padding: 5px;
    display: flex;
    flex-direction: column;
    & &__titulo {
        font: {
            size: 50px;
            family: $TipografiaSecundaria;
            weight: lighter;
        }
        letter-spacing: 20px;        
        text-transform:uppercase; 
        color: $ColorTextoPrincipal;
    }
    form input, form textarea {
        width: 400px;
        display: inline-block;    
        font-family: $ColorTextoSecundario;    
        margin: 15px;
        padding: 2px;
        display: block;
        top: 219px;
        left: 223px;
        color: $ColorTextoPrincipal;
        background-color: transparent;
        border: $ColorTextoPrincipal solid;
    }
    & &--botones {
        width: 100px;
        height: auto;
        display: inline;
        font-family: $TipografiaSecundaria;
        color:$ColorTextoPrincipal;
        border: $ColorTextoPrincipal solid;
        background-color: transparent;
        &:focus {
            background-color: $ColorTextoPrincipal;
            color: $ColorTextoSecundario;
        }     
    }
    form textarea {
        width: 600px;
        height: auto;    
    }
    form label {
        color:$ColorTextoPrincipal;
        font-family: $TipografiaSecundaria;
    } 
}

/*Sección Diseño*/
    .encabezado {
        h2 {
            @include encabezados;
            line-height: 115px;
        }
        img {
            @include encabezado-img;
        }
    }
    .design {
        @include elementos-flex;
        &__item {
            width: $WidthFlexItem;
            img {
                width: $WidthFlexItemImg;
            }
            h3 {
                @include item-description;
            }
        }
    }


/*sección fotografí­a*/

.fotografia__encabezado {
    h2 {
        @include encabezados;
        line-height: 115px;
    }
    img {
        @include encabezado-img;
    }
}

.fotografia {
    @include elementos-flex;
    &__item {
        width: $WidthFlexItem;
        img {
            width: $WidthFlexItemImg;
        }
        h3 {
            @include item-description;
        }
    }
}







