@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*grilla 1*/
#estructura1 {
  background-image: url(../images/imagenHome.png);
  width: 100%;
  height: auto;
  display: grid;
  gap: 12px;
  grid-template-areas: "menu menu menu" "cont cont cont" "pie pie pie";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: -75px 888px 76px;
}

/*grilla 2*/
#estructura2 {
  width: 100%;
  display: grid;
  grid-template-areas: "menu menu menu" "cont cont cont" "pie pie pie";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 79px 1600px 76px;
  height: 100vh;
  gap: 12px;
}
#estructura2 .header {
  width: 100%;
  height: 262px;
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
  grid-area: menu;
  display: flex;
  justify-content: end;
}
#estructura2 .header__menu {
  margin-top: 30px;
  margin-right: 40px;
}
#estructura2 .header__menu ul li {
  display: inline;
  padding: 10px;
}
#estructura2 .header__menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  font-family: "cairo", sans-serif;
}
#estructura2 .header__menu ul li a:hover {
  font-weight: bold;
}
#estructura2 .footer {
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  top: 1200px;
  grid-area: pie;
  display: flex;
  justify-content: center;
}
#estructura2 .footer__datos li {
  font-size: 18px;
  font-family: "cairo", sans-serif;
  position: relative;
  display: inline;
  top: 21px;
  left: 2px;
  padding: 10px;
}
#estructura2 .footer__datos li a {
  text-decoration: none;
  color: black;
}

.footer {
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  top: 924px;
  grid-area: pie;
  display: flex;
  justify-content: center;
}
.footer .footer__datos li {
  font-size: 18px;
  font-family: "cairo", sans-serif;
  position: relative;
  display: inline;
  top: 21px;
  left: 2px;
  padding: 10px;
}
.footer .footer__datos li a {
  text-decoration: none;
  color: black;
}

.header {
  width: 100%;
  height: 91px;
  background-color: none;
  position: fixed;
  z-index: 1;
  grid-area: menu;
  display: flex;
  justify-content: flex-end;
}
.header .header__menu {
  margin-top: 30px;
  margin-right: 40px;
}
.header .header__menu ul li {
  display: inline;
  padding: 10px;
}
.header .header__menu ul li a {
  color: white;
  text-decoration: none;
  font-family: "cairo", sans-serif;
  font-size: 20px;
  font-weight: lighter;
}
.header .header__menu ul li a:hover {
  font-weight: bold;
}

/*Variables*/
/*Mixins*/
/* Pagina Principal */
.titular {
  width: 100%;
  height: 900px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-area: cont;
  transition: color 0.5s;
  overflow: hidden;
  margin-bottom: -30px;
  color: white;
}
.titular .animate__animated.animate__zoomIn {
  font-family: Helvetica;
  font-size: 13rem;
  font-weight: bold;
  word-spacing: 1rem;
  /*margin-left: 230px;*/
}
.titular .animate__animated.animate__slideInRight {
  width: 150px;
  height: 150px;
  margin-bottom: -200px;
  /*    right: 467px;*/
}
.titular .titular__loop {
  margin-bottom: 555px;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 20px;
  display: inline;
  overflow: hidden;
  white-space: nowrap;
  line-height: 70vh;
  position: absolute;
  -webkit-animation: slidein infinite 60s linear;
          animation: slidein infinite 60s linear;
}
@-webkit-keyframes slidein {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slidein {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*contenido SobreMi*/
.section {
  grid-area: cont;
  gap: 15px;
}
.section .section__encabezado {
  position: absolute;
  width: 1243px;
  height: 406px;
  left: 115px;
  top: 111px;
  font-family: Helvetica;
  font-weight: 700;
  font-size: 128px;
}
.section .section__bio {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 26px;
  margin-top: 524px;
  /*    left: 110px;*/
}
.section .section__bio .animate__animated.animate__slideInRight {
  width: 50%;
}
.section .section__bio .animate__animated.animate__slideInRight p {
  /*margin-left: 20px;*/
  padding-top: 25px;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 20px;
}
.section .section__bio .animate__animated.animate__slideInRight a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.section .section__bio .animate__animated.animate__slideInLeft {
  height: 50%;
  /*margin-left: 10px;*/
}
.section .section__bio .formacion {
  display: inline-block;
  width: 600px;
  height: 400px;
  /*    left: 300px;*/
  margin-top: -7px;
  font-family: white;
}
.section .section__bio .formacion .linea1 {
  width: 447px;
  border-top: 1px solid black;
  padding: 12px;
  margin: 20px auto 0;
}
.section .section__bio .formacion h3 {
  width: 600px;
  font-family: "cairo", sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-align: right;
  /*margin-left: -443px;*/
}

/*sección contacto*/
.contacto {
  width: 100%;
  height: 901px;
  margin-top: 143px;
  margin-left: 381px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.contacto .contacto__titulo {
  font-size: 50px;
  font-family: "cairo", sans-serif;
  font-weight: lighter;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: white;
}
.contacto form input, .contacto form textarea {
  width: 400px;
  display: inline-block;
  font-family: black;
  margin: 15px;
  padding: 2px;
  display: block;
  top: 219px;
  left: 223px;
  color: white;
  background-color: transparent;
  border: white solid;
}
.contacto .contacto--botones {
  width: 100px;
  height: auto;
  display: inline;
  font-family: "cairo", sans-serif;
  color: white;
  border: white solid;
  background-color: transparent;
}
.contacto .contacto--botones:focus {
  background-color: white;
  color: black;
}
.contacto form textarea {
  width: 600px;
  height: auto;
}
.contacto form label {
  color: white;
  font-family: "cairo", sans-serif;
}

/*Sección Diseño*/
.encabezado h2 {
  position: absolute;
  width: 1243px;
  height: 406px;
  left: 115px;
  top: 111px;
  font-family: Helvetica;
  font-weight: 700;
  font-size: 128px;
  line-height: 115px;
}
.encabezado img {
  position: absolute;
  margin-top: 180px;
  /*left: 9px;*/
}

.design {
  height: 100vh;
  gap: 15px;
  grid-area: cont;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  align-self: center;
  /*left: 33px;*/
  margin-top: 400px;
}
.design__item {
  width: 400px;
}
.design__item img {
  width: 100%;
}
.design__item h3 {
  font-family: "cairo", sans-serif;
  padding: 5px;
  margin: 5px;
}

/*sección fotografí­a*/
.fotografia__encabezado h2 {
  position: absolute;
  width: 1243px;
  height: 406px;
  left: 115px;
  top: 111px;
  font-family: Helvetica;
  font-weight: 700;
  font-size: 128px;
  line-height: 115px;
}
.fotografia__encabezado img {
  position: absolute;
  margin-top: 180px;
  /*left: 9px;*/
}

.fotografia {
  height: 100vh;
  gap: 15px;
  grid-area: cont;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  align-self: center;
  /*left: 33px;*/
  margin-top: 400px;
}
.fotografia__item {
  width: 400px;
}
.fotografia__item img {
  width: 100%;
}
.fotografia__item h3 {
  font-family: "cairo", sans-serif;
  padding: 5px;
  margin: 5px;
}

/*Variables*/
@media only screen and (max-width: 767px) {
  #estructura1 {
    display: grid;
    grid-template-areas: "menu" "cont" "pie";
    grid-template-columns: 1fr;
    grid-template-rows: 252px 1035px 220px;
    height: 1245px;
    border: 10px solid rgb(242, 255, 0);
  }
  #estructura1 .header {
    height: 262px;
  }
  #estructura1 .header ul li {
    display: block;
    font-size: 36px;
    line-height: 36px;
    text-align: right;
    padding: 1px;
  }
  #estructura1 .footer {
    height: 220px;
  }
  #estructura1 .footer__datos li {
    display: block;
    padding: 2px;
    font-size: 20px;
    /*margin-left: -220px;*/
  }
  #estructura1 .titular {
    height: 770px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
  }
  #estructura1 .titular .animate__animated.animate__zoomIn {
    font-size: 70px;
    margin-left: 10px;
  }
  #estructura1 .titular .animate__animated.animate__slideInRight {
    width: 75px;
    height: 75px;
    margin-bottom: -81px;
    margin-right: 5px;
  }
  #estructura1 .titular #estructura1 .titular__loop {
    margin-bottom: 276px;
    /*margin-right: 15px;*/
    font-size: 20px;
  }
  #estructura1 .contacto {
    /*margin-left: 60px;*/
    margin-top: 300px;
  }
  #estructura1 .contacto__titulo {
    font-size: 30px;
  }
  #estructura1 .contacto form input, #estructura1 .contacto form textarea {
    width: 350px;
    margin: 2px;
    padding: 2px;
  }
}

@media only screen and (max-width: 767px) {
  #estructura2 {
    display: grid;
    grid-template-areas: "menu" "cont" "pie";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
  }
  #estructura2 .header ul li {
    display: block;
    font-size: 36px;
    line-height: 36px;
    text-align: right;
    padding: 1px;
  }
  #estructura2 .footer {
    height: 220px;
    margin-top: 1397px;
  }
  #estructura2 .footer__datos li {
    display: block;
    padding: 2px;
    font-size: 12px;
    /*margin-left: -220px;*/
  }
  #estructura2 .section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 20px;
  }
  #estructura2 .section__encabezado {
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 406px;
    left: 40px;
    top: 300px;
    font-size: 60px;
  }
  #estructura2 .section__bio {
    margin-top: 600px;
    /*    margin-left: 20px;*/
  }
  #estructura2 .section .animate__animated.animate__slideInRight {
    width: 100%;
  }
  #estructura2 .section .animate__animated.animate__slideInRight p {
    width: 400px;
    /*margin-left: 20px;*/
    padding-top: 2px;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 20px;
  }
  #estructura2 .encabezado h2 {
    position: absolute;
    width: 400px;
    height: 406px;
    left: 60px;
    top: 300px;
    font-size: 80px;
  }
  #estructura2 .encabezado img {
    position: absolute;
    width: 50px;
    height: 70px;
  }
  #estructura2 .design {
    margin-top: 4000px;
  }
  #estructura2 .fotografia__encabezado h2 {
    font-size: 60px;
    /*margin-left: -76px;*/
    margin-top: 200px;
    display: block;
    width: 20px;
  }
  #estructura2 .fotografia__encabezado img {
    position: absolute;
    width: 50px;
    height: 70px;
  }
  #estructura2 .fotografia {
    margin-top: 4000px;
  }
}/*# sourceMappingURL=main.css.map */